
<section style="background-image: url(https://p4.wallpaperbetter.com/wallpaper/223/384/898/code-web-development-javascript-computer-screen-pixels-programming-php-syntax-highlighting-programming-language-html-wallpaper-preview.jpg);">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 >.</h1>
        </div>
    </div>
</section>

