<style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
      .titulo2 {
        font-style: italic;
        font-weight: bold;
        text-decoration: underline;
        text-align: center;
  }
</style>

<div>
    <h1 class="titulo2">
        {{titulo}}
    </h1>
</div>
<!-- ALBUM -->
<main>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <!-- PRIMERA FOTO -->
          <div class="col">
            <div class="card shadow-sm">
              <img src="https://i.ytimg.com/vi/W6GTDfrWjXs/maxresdefault.jpg" alt="Curso CSS">
                <div class="card-body">
                  <p class="card-text">CURSO COMPLETO CSS</p>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  <p><a class="btn btn-light" href="https://www.youtube.com/watch?v=OWKXEJN67FE&ab_channel=SoyDalto">VER</a></p>
                  </div>
                  <small class="text-muted">10 horas</small>
                  </div>
              </div>
            </div>
          </div>

          <!-- SEGUNDA FOTO -->
          <div class="col">
            <div class="card shadow-sm">
              <iframe width="400" height="250" src="https://www.youtube.com/embed/kN1XP-Bef7w" title="Curso de HTML5 desde CERO (Completo)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text">CURSO COMPLETO HTML</p>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">2.3 horas</small>
                  </div>
              </div>
            </div>
          </div>

        <!-- TERCER FOTO -->
          <div class="col">
            <div class="card shadow-sm">
              <iframe src="https://www.youtube.com/embed/z95mZVUcJ-E" title="Curso de JAVASCRIPT desde CERO (Completo) - Nivel JUNIOR" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="card-body">
                  <p class="card-text">CURSO JAVA SCRIP DESDE CERO A JUNIOR</p>
                  <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                  </div>
                  <small class="text-muted">10 horas</small>
            </div>
        </div>
      </div>
    </div>
  </div>
</main>