<div>
    <h1 style="text-align: center;">
        {{titulo}}
    </h1>
</div>

<style>
    .borde1{
        border-style: ridge;;
    }
    .imagenFondo1{
        background-image: url(https://clutchco-static.s3.amazonaws.com/s3fs-public/logos/fullstack.jpg?VersionId=I_WeJVKYToeAX.8JLA7zk7Wz5RUfhgeK);
        background-repeat: no-repeat;
        background-position: right center;
    }

</style>
<!-- TRES IMAGENES -->
<!-- PRIMERA -->
    
        <div class="p-5 mb-4 rounded-3">
        <div class=" borde1 container-fluid py-5">
            <div class ="imagenFondo1">
        <h1 class="display-5 fw-bold">Soy VALENTINA VERDASCO</h1>
        <p class="col-md-8 fs-4">Estudiante de diplomatura de FullStack de UTN de Buenos Aires, terminé la primera parte del curso y este es mi proyecto final.</p>
        <p><a class="btn btn-primary" href="../lenguajes">Vamos a ver que aprendimos...</a></p>
        </div>
    </div>
</div>
<!-- SEGUNDA Y TERCERA-->
    <div class="row align-items-md-stretch">
        <!-- SEGUNDA -->
        <div class="col-md-6">
        <div class = "icono1">
        <div class="h-100 p-5 text-bg-dark rounded-3">
            <div class = "icono1">
                <h2>Más de mi</h2>
                <p>Soy casi ingeniera en Telecomunicaciones, tengo todas las materias aprobadas, y estoy haciendo la tesis.
                Además, trabajo en el área de tecnología y sistemas de la empresa S.O.S Red de Asistencia.
                Si te interesa mi vida laboral...
                </p>
                <p><a class="btn btn-light" href="https://www.linkedin.com/in/valentina-verdasco/">Ingresa a mi Linkedin!</a></p>
                <p><a class="btn btn-light" href="../contacto">Contactame!</a></p>
            </div>
        </div>
        </div>
        </div>

        <div class="col-md-6">
            <div class="h-100 p-5 bg-light border rounded-3">
            <h2>¡EXPANDE TU CONOCIMIENTO!</h2>
            <p>Conocé mas sobre los cursos disponibles</p>
            <p><a class="btn btn-dark" href="https://sceu.frba.utn.edu.ar/e-learning/?gclid=EAIaIQobChMIzYydwf6H-QIV9UFIAB0uxwL5EAAYASAAEgIX-_D_BwE">Página oficial</a></p>
            </div>
        </div>
    </div>